Final Deliverables/Code/Node red Flow/flows(1).json
[{"id":"e9a091c8255df07c","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1f3268d20983d161","type":"ibmiot in","z":"e9a091c8255df07c","authentication":"apiKey","apiKey":"24dc528f7f1fb63d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"cropprotectionsystemid","applicationId":"","deviceType":"cropprotection","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":140,"wires":[["888cf21c9890d4a9","e802812b4b4af17a","fe88c7981823154e","7b95c784398c564c"]]},{"id":"888cf21c9890d4a9","type":"debug","z":"e9a091c8255df07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"6810bf4fe1f48cb5","type":"ui_gauge","z":"e9a091c8255df07c","name":"","group":"93be5db1cb25325d","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":570,"y":240,"wires":[]},{"id":"e802812b4b4af17a","type":"function","z":"e9a091c8255df07c","name":"temperature node","func":"msg.payload=msg.payload.Temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["6810bf4fe1f48cb5"]]},{"id":"fe88c7981823154e","type":"function","z":"e9a091c8255df07c","name":"Humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["a600aa9e6c381fe5"]]},{"id":"a600aa9e6c381fe5","type":"ui_gauge","z":"e9a091c8255df07c","name":"","group":"93be5db1cb25325d","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":620,"y":340,"wires":[]},{"id":"c20b946841aae271","type":"ui_button","z":"e9a091c8255df07c","name":"","group":"93be5db1cb25325d","order":2,"width":0,"height":0,"passthru":false,"label":"Alarm on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"alarmon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":680,"wires":[["5fb5b17cbf701676","f756422524d8376a"]]},{"id":"5fb5b17cbf701676","type":"debug","z":"e9a091c8255df07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":780,"wires":[]},{"id":"3b8e342b47c6f829","type":"ui_button","z":"e9a091c8255df07c","name":"","group":"93be5db1cb25325d","order":3,"width":0,"height":0,"passthru":false,"label":"Alarm off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"alarmoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":220,"y":780,"wires":[["5fb5b17cbf701676","f756422524d8376a"]]},{"id":"f756422524d8376a","type":"ibmiot out","z":"e9a091c8255df07c","authentication":"apiKey","apiKey":"24dc528f7f1fb63d","outputType":"cmd","deviceId":"cropprotectionsystemid","deviceType":"cropprotection","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":660,"wires":[]},{"id":"56f96cdb23d0dc36","type":"http in","z":"e9a091c8255df07c","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":110,"y":600,"wires":[["c6b738cf8c1f29a9","a98ef784e6d4e316"]]},{"id":"c6b738cf8c1f29a9","type":"http response","z":"e9a091c8255df07c","name":"","statusCode":"","headers":{},"x":630,"y":600,"wires":[]},{"id":"a98ef784e6d4e316","type":"function","z":"e9a091c8255df07c","name":"hhtpfunctionnode","func":"msg.payload={\"temperature\":global.get(\"t\"),\"humidity\":global.get(\"h\"),\"moisture\":global.set(\"m\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":560,"wires":[["c6b738cf8c1f29a9"]]},{"id":"060fcb22e8daab0c","type":"http in","z":"e9a091c8255df07c","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":210,"y":900,"wires":[["e4907e358d85063d"]]},{"id":"ab7e7eed9a224e51","type":"http response","z":"e9a091c8255df07c","name":"","statusCode":"","headers":{},"x":670,"y":900,"wires":[]},{"id":"7b42fc46bea75542","type":"inject","z":"e9a091c8255df07c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"crop\"}","payloadType":"json","x":200,"y":460,"wires":[["c43ae03afda76201"]]},{"id":"c43ae03afda76201","type":"cloudant out","z":"e9a091c8255df07c","name":"","cloudant":"","database":"cropprotection","service":"node-red-oiimk-2022--cloudant-1668048674694-22716","payonly":false,"operation":"insert","x":580,"y":460,"wires":[]},{"id":"7b95c784398c564c","type":"function","z":"e9a091c8255df07c","name":"moisture","func":"msg.payload=msg.payload.moisture\nglobal.set('m',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["7eab538a840b5533"]]},{"id":"7eab538a840b5533","type":"ui_gauge","z":"e9a091c8255df07c","name":"","group":"93be5db1cb25325d","order":4,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":380,"wires":[]},{"id":"e4907e358d85063d","type":"function","z":"e9a091c8255df07c","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":940,"wires":[["ab7e7eed9a224e51","5fb5b17cbf701676","f756422524d8376a"]]},{"id":"24dc528f7f1fb63d","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"93be5db1cb25325d","type":"ui_group","name":"monitoring","tab":"42f2967baa61b228","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"42f2967baa61b228","type":"ui_tab","name":"command","icon":"dashboard","disabled":false,"hidden":false}]